{
  "presets": [
    "babel-preset-latest",
    "babel-preset-react"
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    ["babel-plugin-transform-regenerator", {
      "async": false
    }],
    ["babel-plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
    }],
    ["babel-plugin-transform-require-ignore", {
      "extensions": [".css"]
    }]
  ]
}
