.MoveTool .areas {
  display: flex;
  flex-wrap: wrap;
}

.MoveTool .button-area {
  background: #212121;
  position: relative;
  margin: 5px;
}

.MoveTool .button-area button {
  position: absolute;
}

.a4-3 .MoveTool .button-area {
  height: 60px;
  width: 80px;
}

.a16-9 .MoveTool .button-area {
  height: 60px;
  width: 107px;
}
