.a4-3 .f {
  height: 45%;
  width: 45%;
}

.a4-3 .f1-1 {
  left: 3.333%;
  top: 3.333%
}

.a4-3 .f2-1 {
  left: 51.666%;
  top: 3.333%
}

.a4-3 .f1-2 {
  left: 3.333%;
  top: 51.666%;
}

.a4-3 .f2-2 {
  left: 51.666%;
  top: 51.666%;
}

.a4-3 .tv {
  height: 45%;
  width: 45%;
}

.a4-3 .tv-1 {
  left: 27.5%;
  top: 3.333%;
}

.a4-3 .tv-2 {
  left: 27.5%;
  top: 51.666%;
}

.a4-3 .th {
  height: 45%;
  width: 45%;
}

.a4-3 .th-1 {
  top: 27.5%;
  left: 3.333%;
}

.a4-3 .th-2 {
  top: 27.5%;
  left: 51.666%;
}

.a4-3 .o {
  height: 90%;
  width: 90%;
  left: 5%;
  top: 5%;
}


/* 16:9 */

.a16-9 .f {
  height: 45%;
  width: 33.75%;
}

.a16-9 .f1-1 {
  left: 10.833%;
  top: 3.333%
}

.a16-9 .f2-1 {
  left: 55.416%;
  top: 3.333%
}

.a16-9 .f1-2 {
  left: 10.833%;
  top: 51.666%;
}

.a16-9 .f2-2 {
  left: 55.416%;
  top: 51.666%;
}

.a16-9 .tv {
  height: 45%;
  width: 33.75%;
}

.a16-9 .tv-1 {
  left: 33.125%;
  top: 3.333%;
}

.a16-9 .tv-2 {
  left: 33.125%;
  top: 51.666%;
}

.a16-9 .th {
  height: 60%;
  width: 45%;
}

.a16-9 .th-1 {
  top: 20%;
  left: 3.333%;
}

.a16-9 .th-2 {
  top: 20%;
  left: 51.666%;
}

.a16-9 .o {
  height: 90%;
  width: 67.5%;
  left: 16.75%;
  top: 5%;
}
