iframe {
  position: relative;
  border: none;
  float: right;
}

.Stream {
  position: absolute;
  overflow: hidden;
  z-index: 10;
}

.Stream.o {
  z-index: 30;
}

.Stream.o.fading {
  z-index: 40;
}

.Stream:not(.loading):not(.appearing) {
  transition: 0.5s ease-in-out;
}

.Stream.fading {
  z-index: 20;
  opacity: 0;
}

.Stream.appearing .cover {
  opacity: 1;
}

.Stream .cover {
  background: black;
  z-index: 2;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.Stream:not(.appearing) .cover {
  transition: opacity 0.5s ease-in-out;
}

.Stream .name {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 3.5vh;
  color: white;
  z-index: 1;
  font-weight: 600;
  -webkit-text-stroke: 0.15vh black;
}

.Stream .header {
  position: absolute;
  bottom: 4%;
  left: 4%;
  font-size: 3.5vh;
  color: white;
  z-index: 1;
  font-weight: 600;
  -webkit-text-stroke: 0.15vh black;
}

.Stream.loading {
  height: 45%;
  width: 45%;
  left: -48.333%;
  bottom: 3.333%;
  background: magenta;
}

.Stream.loading, .Stream.appearing {
  z-index: 5;
}
