.StreamArea {
  background: #202020;
  position: relative;
  background-position: center;
  background-size: cover;
  transition: background 20s ease-in-out;
}

.a4-3 .StreamArea {
  width: 133.333vh;
}

.a16-9 .StreamArea {
  width: 177.777vh;
}
